<div class="home-container">
  <div class="hero">
    <img class="image-home" src="https://img-cdn.publive.online/fit-in/640x360/filters:format(webp)/afaqs/media/post_attachments/5630da1b95da8f9ec1c8513919c07e25e02b0ac8d548a6abaf04828a8957edd6.png"/>
    <h1>Welcome to FlipKart</h1>
    <p>Your one-stop destination for amazing products at unbeatable prices.</p>

    <div class="btn-group">
      <button class="primary-btn" routerLink="/purchase" >Shop Now</button>
      <button class="secondary-btn">Explore</button>
    </div>
  </div>
</div>